html.modal-routes-open {
    overflow: hidden;
}

body.page-rotas {
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 20px;
    }
}

.modal-routes {
    padding: 0!important;
    position: fixed;
    top: 0;
    bottom: 0;

    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        .modal-content {
            border-radius: 0;
            border: none;
            height: 100%;
            width: 100%;

            form {
                display: flex;
                flex-direction: column;
                height: 100%;

                .modal-header {
                    text-align: center;
                    height: 60px;

                    .modal-title {
                        margin: 0 auto;
                    }
                }

                .modal-body {
                    overflow: auto;
                    height: 100%;

                    padding-bottom: 60px;

                    .all-routes {
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        line-height: 30px;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: right;
                        width: 100%;

                        .switch {
                            margin-bottom: 0;
                            padding-right: 60px;
                        }
                    }
                }

                .modal-footer {
                    background: $white;
                    width: 100%;
                    bottom: 0;
                    height: 80px;
                }
            }
        }
    }

    .is-driver-switch-wrapper {
        text-align: right;
        line-height: 34px;
        font-weight: 600;
        margin-bottom: 10px;

        .switch {
            height: 34px;
            padding-left: 70px;
        }
    }

    .find-marker {
        margin-top: 5px;
        width: 250px;
        max-width: 100%;
        float: right;
    }

    .avatar-wrapper {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        .avatar {
            background: url('../images/user_placeholder.jpg') no-repeat center;
            background-size: cover;
            width: 50px;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;

            &:empty {
                height: 50px;
            }

            img {
                max-width: 100%;
            }
        }

        .invited-user-name {
            font-weight: 300;
            display: inline-block;
            padding-left: 20px;
        }
    }
}

.map-routes {
    background: $white-f8;
    display: block;
    width: 100%;
    height: 400px;
}

.pb_accordion {
    .item-title {
        display: block;
        border-bottom: 1px solid #e9ecef;
        padding: 10px 0;
        position: relative;
        color: #495057;
    }
}