html.modal-routes-open {
    overflow: hidden;
}

body.page-rotas {
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 20px;
    }
}

.modal-routes {
    padding: 0!important;

    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100vh;
        width: 100vw;

        .modal-content {
            border-radius: 0;
            border: none;
            height: 100%;
            width: 100%;

            .modal-header {
                text-align: center;

                .modal-title {
                    margin: 0 auto;
                }
            }

            .modal-body {
                overflow: auto;
            }
        }
    }
}