body.page-rotas {
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 20px;
    }
}

.modal-routes {
    padding: 0!important;

    .modal-dialog {
        max-width: 100%;
        border-radius: 0;
    }
}